* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #3f2061;
}

.name {
  position: absolute;
  top: 20px;
  font-size: 3rem;
  color: #fdab72;
  font-family: "Poppins", sans-serif;
}

.copyright {
  text-decoration: none;
  color: #ffba00;
}

#copyright {
  position: absolute;
  top: 85%;
  left: 0;
  margin: 20px;
  font-size: 1.5rem;
  font-family: "Poppins", cursive;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(clock.png);
  background-size: cover;
  border: 4px solid #3f2061;
  border-radius: 50px;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour .hr {
  height: 160px;
  width: 160px;
}

.clock .min .mn {
  height: 190px;
  width: 190px;
}

.clock .sec .sc {
  height: 230px;
  width: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
}

.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 90px;
  background: #ffba00;
  z-index: 10;
  border-radius: 50px;
}

.mn:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 110px;
  background: #43e9ff;
  z-index: 11;
  border-radius: 50px;
}

.sc:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 140px;
  background: #ffffff;
  opacity: 0.8;
  z-index: 12;
  border-radius: 50px;
}
